body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(76, 147, 176);
}

button{
  margin: 5px;
}

.task-container{
}

.task-form-div, .show-button-div{
display: inline-block;
}

.show-button-div > button{
  width: 80px;
  height: 25px;
  font-family: 'Times New Roman', Times, serif;
  background-color: aliceblue;
  border: 0px;
  border-radius: 2px;
}

.new_task > input{
width: 150px;
}

.in-list-task-container{
display: flex;
padding: 10px;
}

.list-title-container{
  text-align: center;
  background-color: aliceblue;
  padding: 5px;
  height: 100px;
}

.list-button-container, .list-name-display{
  display: inline-block;
}

.list-button-container > button{
  background-color: aliceblue;
  border: 0px;
  padding: 0px;
  margin-right: 1px;
}

.list-container{
  display:block;
  background-color: rgb(255, 255, 255);
  width: 25%;
  margin: 15px;
  padding: 15px;
  padding-top: 10px;
  border: 2px solid black;
}

.task-name, .task-buttons, .task-checkboxes{
  display: inline-block;
  text-align: center;
}

.task-name > h4{
width: 180px;
margin: 10px;
}

.task-buttons > button{
  background-color: aliceblue;
  border: 0;
  padding:0;
}

.task{
  background-color: aliceblue;
  margin-bottom: 15px;
  padding: 15px;
}
